<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript" charset="utf-8">

    var socket;
    
    $( document ).ready(function() {
        socket = io();

        socket.on('disconnect', function() {
            console.log("Disconnected");
        });
        
        socket.on('connect', function() {
            console.log('Socket', socket.id)
            console.log("Connection made>>>>>>");
            socket.emit("register");
            $("#disconnect").show();
            $("#connect").hide();
        });

        
        socket.on('number_of_users', function(data) {
            console.log("In number of user event", data.n)
            $('#info').text(data.n);
        });


        socket.on('remove_user', function() {
            socket.disconnect()
            console.log("DISCONNECTED")
        });


        socket.on('set_time', function(data) {
            $('#time').text(data.time + ' Seconds');

        });


        socket.on('minutely_message', function(data) {
            $('#').text(data.message);

        });
        $('#connect').click(function(){
            // socket = io();
            // location.reload(true);
            $("#disconnect").show();
            $("#connect").hide();
            socket.connect();
        });

        $('#disconnect').click(function(){
            $('#info').text = ($('#info').text() - 1);
            console.log("Disconnected from server");
            $("#connect").show();
            $("#disconnect").hide();
            socket.emit('deregister')

        });

        $('#gettime').click(function(){
            socket.emit('time_since')
        })
        
    });    
    </script>

</head>
<body>
<h2> Number of connected Users are </h2> 
<h2 id="info">HI</h2>

<button id="connect">Connect</button>
<button id="disconnect">Disconnect</button>
<button id="gettime">Active Since</button>
<h3 id="time">Click 'Active Since' button to see time this client is connected to the server.</h3>
<h3 id="minute_connection">Minutely Connection reminder will be here every 60 seconds</h3>
<h3 id="update"></h3>


</body>
</html>